/* File: blog.css
 * Info: Styles for the blog application
 */
@import url("palette.css");

#blog > article {
    padding: 3px;
}

#blog > article > h2 {
    text-shadow: var(--shadow);
}

#blog > article > figure,
#blog > article > ol > li > figure,
#blog > article > ul > li > figure,
#blog > article > blockquote > figure {
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 3px;
}

/* Figures generally store images */
#blog > article > figure > img,
#blog > article > ol > li > figure > img,
#blog > article > ul > li > figure > img,
#blog > article > blockquote > figure > img {
    object-fit:contain; 
    max-width: 800px;
}

/* Figures can also be used to store code samples 
 * Their contents should align left.
 */
#blog > article > figure > pre,
#blog > article > ol > li > figure > pre,
#blog > article > ul > li > figure > pre,
#blog > article > blockquote figure > pre {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    text-align: left;
    border: 1px inset #fff;
    padding: 1px;
    font-size: 12pt;
    margin-left: 3px;
    margin-right: 3px;
    overflow: auto;
}

/* It's probably a good idea to stick anything (including lists) 
 * inside a div rather than making a style for other element if
 * the element in a figure is not an img or pre
 */ 
#blog > article > figure > div,
#blog > article > ol > li > figure > div,
#blog > article > ul > li > figure > div,
#blog > article > blockquote figure > div {
    text-align: left;    
}


/* iframes will generally contain videos from YouTube */
/*
#blog > article > figure > iframe,
#blog > article > ol > li > figure > iframe,
#blog > article > ul > li > figure > iframe,
#blog > article > blockquote > figure > iframe {}
*/

#blog > article > figure > figcaption,
#blog > article > ol > li > figure > figcaption,
#blog > article > ul > li > figure > figcaption,
#blog > article > blockquote > figure > figcaption {
    font-size: 9pt;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #eee;
}

#blog > article > blockquote {
    border-radius: 5px;
    border-left: 3px solid var(--accentbg);
    box-shadow: var(--shadow);
    padding: 3px;   
}

#blog > #pagebar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#blog > #pagebar > button {
    outline: none;  /* Get rid of that box that shows up when we click on something. */
    width: 50px;
    height: 50px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
    border: 3px outset #088;
    border-radius: 50%;
    box-shadow: none;   /* TODO: Add one later */
    background-color: #333;
    color: #088;
    transition: all ease 0.5s;
}

#blog > #pagebar > button:focus {
    outline: none;
}

#blog > #pagebar > button:hover {
    border-color: #0ff;
    box-shadow: 0 0 5px 5px #0ff;
    color: #0ff;
}

#blog > #pagebar > button:disabled {
    cursor: not-allowed;
    font-weight: normal;
    border: 3px solid #333;
    color: #444;
    background-color: #333;
}

#blog > #pagebar > button:disabled:hover {
    border-color: #333;
    box-shadow: none;
}