/* File: blog.css
 * Info: Styles for the blog application
 */

 :root {
    --bg: #333;
    --fg: #fff;
    --accentbg: #33f;
    --accentfg: #fff;
    --menubg: #000;
    --menufg: #0cc;
    --shadow: 2px 2px 5px #111;
    --hlink: #0ff;
    --link: #0cc;
    --vlink: #0aa;
    --alink: #0bb;
}

#blog > article {
    padding: 3px;
}

#blog > article > h2 {
    text-shadow: var(--shadow);
}

#blog > article > figure {
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 3px;
}

/* Figures generally store images */
#blog > article > figure > img {
    object-fit:contain; 
    max-width: 800px;
}

/* Figures can also be used to store code samples */
#blog > article > figure > pre {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    border: 1px inset #fff;
    padding: 1px;
    font-size: 12pt;
    margin-left: 3px;
    margin-right: 3px;
    overflow: auto;
}

#blog > article > figure > figcaption {
    font-size: 9pt;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #eee;
}

#blog > article > blockquote {
    border-radius: 5px;
    border-left: 3px solid var(--accentbg);
    box-shadow: var(--shadow);
    padding: 3px;   
}
