/* @File: styles.css 
 * These styles will be here quite a while serving smiles from aisle to aisle.
*/
/* CSS variables make changing the color scheme on this site super easy. */
/* TODO: Can root palets be stored elswhere and imported to other files? */
@import url("palette.css");


html {
    height: 100%;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

a[href]{
    text-decoration: none;
}
a[href]:link{
    color: var(--link);
}
a[href]:visited{
    color: var(--vlink);
}
a[href]:active{
    color: var(--alink);
}
a[href]:hover{
    color: var(--hlink);
}

header, nav, main, footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 3px;   /* Everybody needs a little padding */
}

header, nav, main {     /* Footer doesn't get a box shadow */
    box-shadow: var(--shadow);
}

header {
    /* TODO: Graident background */
    background-color: var(--accentbg);
    color: var(--accentfg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-bottom: 0;
}

header > hgroup {
    text-align: center;
    text-shadow: var(--shadow);
}

header > hgroup > h1 {
    font-size: 36pt;
}
header > hgroup > h2 {
    font-size: 18pt;
    /* line-height: 14pt; */
}

/* Note: All other nav style are in navbar.css */
nav {
    background-color: var(--menubg);
    margin-top: 0;
    margin-bottom: 0;
    /* height: 30px; */
}

/* Main should stretch down to the bottom */
main {
    margin-top: 0;
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: calc(75vh - 50px);  /* TODO: Play around with this a little more. See what's right. */
}

/* TODO: Footer needs to stick to the bottom. */
footer {
    height: 50px;
    font-size: 9pt;
    vertical-align: bottom;
}

code {
    font-family: monospace;
    background-color: #000;
    color: #fff;
}
