/* @File: styles.css 
 * These styles will be here quite a while serving smiles from aisle to aisle.
*/
/* CSS variables make changing the color scheme on this site super easy. */
/* TODO: Can root palets be stored elswhere and imported to other files? */
:root {
    --bg: #333;
    --fg: #fff;
    --accentbg: #33f;
    --accentfg: #fff;
    --menubg: #000;
    --menufg: #0cc;
    --shadow: 2px 2px 5px #111;
    --hlink: #0ff;
    --link: #0cc;
    --vlink: #0aa;
    --alink: #0bb;
}

html {
    height: 100%;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
}

a[href]{
    text-decoration: none;
}
a[href]:link{
    color: var(--link);
}
a[href]:visited{
    color: var(--vlink);
}
a[href]:active{
    color: var(--alink);
}
a[href]:hover{
    color: var(--hlink);
}

header, nav, main, footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 3px;   /* Everybody needs a little padding */
}

header, nav, main {     /* Footer doesn't get a box shadow */
    box-shadow: var(--shadow);
}

header {
    /* TODO: Graident background */
    background-color: var(--accentbg);
    color: var(--accentfg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-bottom: 0;
}

header > hgroup {
    text-align: center;
    text-shadow: var(--shadow);
}

header > hgroup > h1 {
    font-size: 36pt;
}
header > hgroup > h2 {
    font-size: 18pt;
    /* line-height: 14pt; */
}

nav {
    background-color: var(--menubg);
    margin-top: 0;
    margin-bottom: 0;
    /* height: 30px; */
    text-align: center;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-evenly;
}

nav > ul > li {
    display: block;
    margin: 0;
    min-width: 25%;
    transition: 0.5s;
}

nav > ul > li:hover {
    cursor: pointer;
}


/* Dropdown */
nav > ul > li.dropdown > a {
    font-weight: bold;
}

nav > ul > li.dropdown:hover {
    background-color: var(--accentbg);
    color: var(--accentfg);
}

nav > ul > li.dropdown:hover > a {
    color: var(--accentfg);
}

nav > ul > li.dropdown > ul {

    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    min-width: 20%;
    background-color: var(--menubg);
    color: var(--menufg);

    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left 0;
    display: none;
}

nav > ul > li.dropdown:hover > ul,
nav > ul > li.dropdown > ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    margin-top: 0;
    padding: 3px;
    /* margin-left: 0; */
    box-shadow: var(--shadow);
}

nav > ul > li.dropdown > ul > li {
    clear: both;
    width: 100%;
}

/* Main should stretch down to the bottom */
main {
    margin-top: 0;
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: calc(75vh - 50px);  /* TODO: Play around with this a little more. See what's right. */
}

/* TODO: Footer needs to stick to the bottom. */
footer {
    height: 50px;
    font-size: 9pt;
    vertical-align: bottom;
}

code {
    font-family: monospace;
    background-color: #000;
    color: #fff;
}
